@model HoliDayRental.Models.MembreCreate

@{
    ViewData["Title"] = "Create";
}


<div id="loginpop">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col-sm-12 login">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Nom" class="control-label"></label>
                            <input asp-for="Nom" class="form-control" />
                            <span asp-validation-for="Nom" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Prenom" class="control-label"></label>
                            <input asp-for="Prenom" class="form-control" />
                            <span asp-validation-for="Prenom" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label @*asp-for="Pays"*@ class="control-label sr-only"></label>
                            <div id="Pays" name="Pays">
                                @Html.DropDownListFor(m => m.idPays, Model.PaysList.Select(d => new SelectListItem { Value = d.idPays.ToString(), Text = d.Libelle }), "Choisir un Pays ")
                            </div>
                            <span @*asp-validation-for="Pays"*@ class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Telephone" class="control-label"></label>
                            <input asp-for="Telephone" class="form-control" />
                            <span asp-validation-for="Telephone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Login" class="control-label"></label>
                            <input asp-for="Login" class="form-control" />
                            <span asp-validation-for="Login" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="VerifCondition" /> @Html.DisplayNameFor(model => model.VerifCondition)
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                    <div class="col-sm-6">
                        <h4>Déjà un compte?</h4>
                        <p>Connectez vous maintenant et profitez des propriétés de nos membres.</p>
                        <span class="btnAction">@Html.ActionLink("Se connecter", "Login", "Account")</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
